<!doctype html>
<html lang="zh-Hant-TW">
	<head>
		<title>台灣の死亡筆記本</title>
		<link rel="icon" href="/static/Image/icon.png?v=<%=version%>">

		<link rel="canonical" href="https://deathnote.agawork.tw" />
		<meta property="og:url" content="https://deathnote.agawork.tw" />

		<meta name="description" content="凡名字被寫入這筆記本的人...都不會怎樣... 但這趨勢不搞清楚，怎麼死的你都不知道!"/>
		<meta property="og:description" content="凡名字被寫入這筆記本的人...都不會怎樣... 但這趨勢不搞清楚，怎麼死的你都不知道!" />
		<meta property="og:site_name" content="台灣の死亡筆記本" />
		<meta property="og:locale" content="zh_TW" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="台灣の死亡筆記本" />
		<meta property="og:image" content="https://deathnote.agawork.tw/static/Image/banner.jpg?v=<%=version%>" />

		<meta http-equiv="Content-Language" content="zh-tw" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/static/build/css/main.css?v=<%=version%>">

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-64789288-6"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-64789288-6');
		</script>
	</head>
	<body>
		<script src="https://code.jquery.com/jquery-2.2.2.min.js"   integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="   crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.9/d3.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>

		<div id="app" class="death-note center">
			<div class="cover-top">
				<div id="coverContent">
					<svg id="svgAnim"></svg>
					<div class="title">
						台灣の<br>死亡筆記本
					</div>
					
					<div class="chapter">
						<ul>
							<li v-on:click="FlipPage(1);">規則</li>
							<li v-on:click="FlipPage(2);">生の章</li>
							<li v-on:click="FlipPage(3);">老の章</li>
							<li v-on:click="FlipPage(4);">病の章</li>
							<li v-on:click="FlipPage(5);">死の章</li>
							<li v-on:click="FlipPage(6);">關於筆記本</li>
						</ul>
					</div>
				</div>
				<div id="coverButtonList">
					<img src="/static/Image/icon-first.png" title="封面" v-on:click="FlipPage(0);">
					<img src="/static/Image/icon-rule.png" title="規則" v-on:click="FlipPage(1);">
					<img src="/static/Image/icon-born.png" title="生の章" v-on:click="FlipPage(2);">
					<img src="/static/Image/icon-old.png" title="老の章" v-on:click="FlipPage(3);">
					<img src="/static/Image/icon-sick.png" title="病の章" v-on:click="FlipPage(4);">
					<img src="/static/Image/icon-die.png" title="死の章" v-on:click="FlipPage(5);">
					<img src="/static/Image/icon-last.png" title="關於筆記本" v-on:click="FlipPage(6);">
				</div>
			</div>
			<div class="page-move">
			</div>
			<div class="page-bg">
				<div id="pageRule" v-show="curPage === 1 && showGraph">
					<div class="title">規則</div>
					<div class="content">
						<ol>
							<li>因為養不起所以不敢生<br>
								<ul>
									<li>
										<a href="https://www.youtube.com/watch?v=O_sFrxLvwUI" target="_blank">【中天調查報告】 少子老齡 死亡交叉</a>
									</li>
								</ul>
							</li>
							<li>不受尊重又沒錢的地方招不到人<br>
								<ul>
									<li>
										<a href="http://npost.tw/archives/24240" target="_blank">【公益交流站】 現行長照政策到底哪裡出問題？</a>
									</li>
									<li>
										<a href="https://www.twreporter.org/a/opinion-long-term-care-version2" target="_blank">【報導者】 長照2.0版正式上路，變得更好嗎？</a>
									</li>
									<li>
										<a href="https://www.slideshare.net/ROC-MOHW/20-64725338" target="_blank">【衛福部】 長照2.0懶人包</a>
									</li>
									<li>
										<a href="https://www.youtube.com/watch?v=y6raMhMLl74" target="_blank">【獨立特派員】 荷蘭長照2.0 - 居家照顧</a>
									</li>
									<li>
										<a href="https://www.youtube.com/watch?v=C9w9S6Wh-qo" target="_blank">【獨立特派員】 荷蘭長照2.0 - 資源連結</a>
									</li>
									<li>
										<a href="https://www.youtube.com/watch?v=pgWu_24UzGM" target="_blank">【獨立特派員】 荷蘭長照2.0 - 居服員培力</a>
									</li>
									<li>
										<a href="https://www.youtube.com/watch?v=luGM2NLgZgc" target="_blank">【獨立特派員】 荷蘭長照2.0 - 服務創新</a>
									</li>
								</ul>
							</li>
							<li>能自主生活才有真幸福<br>
								<ul>
									<li>
										<a href="https://www.youtube.com/watch?v=B3ZZI6NwbZI" target="_blank">【民視異言堂】 老了，你怕嗎？長照系列報導(一)</a>
									</li>
									<li>
										<a href="https://www.youtube.com/watch?v=ssY671E8Jbw" target="_blank">【民視異言堂】 老了，你怕嗎？長照系列報導(二)</a>
									</li>
									<li>
										<a href="https://www.youtube.com/watch?v=OKo6PfKBC6w" target="_blank">【民視異言堂】 老了，你怕嗎？長照系列報導(三)</a>
									</li>
									<li>
										<a href="https://www.youtube.com/watch?v=SA-KfT4McN8" target="_blank">【獨立特派員】 活躍老化</a>
									</li>
									<li>
										<a href="https://health.udn.com/health/story/8250/2179294" target="_blank">【元氣網】 別再說芬蘭人死前兩周才臥床了！</a>
									</li>
								</ul>
							</li>
							<li>想吃免費午餐就等著集體破產<br>
								<ul>
									<li>
										<a href="https://www.youtube.com/watch?v=eQ-qiTG4mE0&t=310s" target="_blank">【政問】 台灣醫療崩壞，健保亂象如何解決？</a>
									</li>
									<li>
										<a href="https://ymmedmagazine.blogspot.tw/2015/06/blog-post.html" target="_blank">【陽明醫聲】 系列專題：健保健保二十年</a>
									</li>
									<li>
										<a href="https://www.youtube.com/watch?v=kf3fJeMiNDM" target="_blank">【衛福部】 全民健保簡介</a>
									</li>
								</ul>
							</li>
							<li>人生的榮華富貴，不過就是一坨大便<br>
								<ul>
									<li>
										<a href="https://www.youtube.com/watch?v=N0zhdMwD2Z8" target="_blank">【TEDx Taipei】 生死的智慧：柯文哲</a>
									</li>
									<li>
										<a href="https://www.ted.com/talks/bj_miller_what_really_matters_at_the_end_of_life?language=zh-tw" target="_blank">【TED】 在生命終點，真正重要的是什麼?</a>
									</li>
								</ul>
							</li>
						</ol>
						<div class="quote">"你問我什麼叫死亡，我如此地回答：怎樣才算是活著?" - 柯文哲</div>
					</div>
				</div>

				<div class="fix-bottom" v-show="showTimeBar">
					<div class="time-bar" id="timeBar">
						<div class="label">{{year}} 年</div>
						<input id="timeRange" v-model="year"
							v-on:change="UpdateGraph();"
							type="range" min="1974" max="2016" value="1974" class="slider">
						<div>
							<img id="prevBt" class="control-icon" src="/static/Image/icon-prev.png" v-on:click="SubYear();">
							<img id="playBt" class="control-icon" src="/static/Image/icon-play.png" v-on:click="ToggleYearPlay();">
							<img id="nextBt" class="control-icon" src="/static/Image/icon-next.png" v-on:click="AddYear();">
						</div>
					</div>
				</div>

				<div class="graph-container">
					<div id="pageGraph" v-show="showGraph">
						<div id="chapterBirth" v-show="curPage === 2">
							<div class="title">生の章</div>
							<div class="switch-container">
								<div class="switch-bt"
									v-bind:class="{selected: graphType === 1}"
									v-on:click="ChangeGraphType(1);">
									人口分佈
								</div>
								<div class="switch-bt"
									v-bind:class="{selected: graphType === 2}"
									v-on:click="ChangeGraphType(2);">
									婚姻狀況
								</div>
								<div class="switch-bt"
									v-bind:class="{selected: graphType === 3}"
									v-on:click="ChangeGraphType(3);">
									出生統計
								</div>
								<div class="switch-bt"
									v-bind:class="{selected: graphType === 4}"
									v-on:click="ChangeGraphType(4);">
									人口推估
								</div>
							</div>
							<div v-show="graphType === 1">
								<div class="half-w">
									<div class="graph-title" id="popPyramidTitle">人口金字塔</div>
									<div class="option-container">
										<div class="option-bt"
											v-bind:class="{selected: subGraphType === 1}"
											v-on:click="ChangeSubGraphType(1);">
											年齡分佈
										</div>
										<div class="option-bt"
											v-bind:class="{selected: subGraphType === 2}"
											v-on:click="ChangeSubGraphType(2);">
											扶養比例
										</div>
									</div>
									<svg id="popPyramidSvg"></svg>
									<div class="center" id="popPyramidInfo">單位:人</div>
								</div><!--
								--><div class="half-w">
									<div class="graph-title">縣市人口分佈</div>
									<div class="option-container">
										<div class="option-bt"
											v-bind:class="{selected: optionType === 1}"
											v-on:click="ChangeOptionType(1);">
											地圖
										</div>
										<div class="option-bt"
											v-bind:class="{selected: optionType === 2}"
											v-on:click="ChangeOptionType(2);">
											排序
										</div>
									</div>
									<div class="center enhance" id="popRatio">單位:人(%)</div>
									<svg id="popMapSvg"></svg>
									<div class="center" id="popMapInfo">單位:人</div>
								</div><!--
								--><div class="full-w">
									<div class="graph-title">平均壽命</div>
									<svg id="expectLifeSvg"></svg>
									<div class="center" id="expectLifeInfo">單位:歲</div>
								</div>
								<div class="note">
									<div class="title">備註</div>
									<ul>
										<li><span class="bold">扶老比: </span>65歲以上人口數/15~65歲人口數</li>
										<li><span class="bold">扶幼比: </span>15歲以下人數數/15~65歲人口數</li>
										<li><span class="bold">平均壽命: </span>這邊使用<a href="http://sowf.moi.gov.tw/stat/Life/List.html" target="_blank">簡易生命表</a>中定義的<a href="http://terms.naer.edu.tw/detail/1316650/" target="_blank0">零歲平均餘命</a>。不是平均死亡年齡。</li>
										<li>2010年五都縣市合併，所以地圖上部分行政區跟人數會出現大幅變動。</li>
									</ul>
								</div>
							</div>
							<div v-show="graphType === 2">
								<div class="half-w">
									<div class="graph-title">婚姻比例</div>
									<div class="center">
										<input id="marriageRatioMinAge" type="number" min="0" max="100" step="5" value="0" v-on:change="UpdateGraph();"> ~
										<input id="marriageRatioMaxAge" type="number" min="0" max="100" step="5" value="100" v-on:change="UpdateGraph();"> 歲
										<select id="marriageRatioSelect"  v-on:change="UpdateGraph();">
											<option value="total">全部</option>
											<option value="male">男</option>
											<option value="female">女</option>
										</select>
									</div>
									<svg id="marriageRatioSvg"></svg>
									<div class="center" id="marriageRatioInfo">單位:人(%)</div>
								</div><!--
								--><div class="half-w">
									<div class="option-container">
										<div class="option-bt"
											v-bind:class="{selected: optionType === 1}"
											v-on:click="ChangeOptionType(1);">
											未婚
										</div>
										<div class="option-bt"
											v-bind:class="{selected: optionType === 2}"
											v-on:click="ChangeOptionType(2);">
											有偶
										</div>
										<div class="option-bt"
											v-bind:class="{selected: optionType === 3}"
											v-on:click="ChangeOptionType(3);">
											離婚
										</div>
										<div class="option-bt"
											v-bind:class="{selected: optionType === 4}"
											v-on:click="ChangeOptionType(4);">
											喪偶
										</div>
									</div>
									<svg id="marriageSvg"></svg>
									<div class="center" id="marriageInfo">單位:人</div>
								</div>
								<div class="full-w">
									<div class="graph-title" id="marriageTimeLineTitle">結、離婚對數</div>
									<svg id="marriageTimeLineSvg"></svg>
									<div class="center" id="marriageTimeLineInfo">單位:對</div>
								</div>
							</div>
							<div v-show="graphType === 3">
								<div class="half-w">
									<div class="graph-title" id="birthHistTitle">生母年齡</div>
									<div class="option-container">
										<div class="option-bt"
											v-bind:class="{selected: subGraphType === 1}"
											v-on:click="ChangeSubGraphType(1);">
											出生數
										</div>
										<div class="option-bt"
											v-bind:class="{selected: subGraphType === 2}"
											v-on:click="ChangeSubGraphType(2);">
											生育率
										</div>
									</div>
									<svg id="birthHistSvg"></svg>
									<div class="center" id="birthHistInfo">單位:人</div>
								</div><!--
								--><div class="half-w">
									<div class="graph-title">出生人數</div>
									<div class="option-container">
										<div class="option-bt"
											v-bind:class="{selected: optionType === 1}"
											v-on:click="ChangeOptionType(1);">
											地圖
										</div>
										<div class="option-bt"
											v-bind:class="{selected: optionType === 2}"
											v-on:click="ChangeOptionType(2);">
											排序
										</div>
									</div>
									<svg id="birthMapSvg"></svg>
									<div class="center" id="birthMapInfo">單位:人</div>
								</div>
								<div class="full-w">
									<div class="graph-title" id="birthTimeLineTitle">人口變化</div>
									<svg id="birthTimeLineSvg"></svg>
									<div class="center" id="birthTimeLineInfo">單位:人</div>
								</div>
								<div class="note">
									<div class="title">備註</div>
									<ul>
										<li><span class="bold">生育率:</span> 選定一年齡區間的女性，如30~35歲，計算一年中區間內女性生下來的嬰兒人數/區間內女性的人數。通常以千分率(‰)表示。</li>
										<li><span class="bold">總生育率:</span> 所有年齡女性生育率的加總。若30~35歲生育率為60‰，則此年齡區間對總生育率會有5x60‰=300‰的貢獻。</li>
										<li><span class="bold">社會增加數:</span> 一年內人口移入-移出的變化量。</li>
										<li>2010年五都縣市合併，所以地圖上部分行政區跟人數會出現大幅變動。</li>
									</ul>
								</div>
							</div>
							<div v-show="graphType === 4">
								<div class="half-w">
									<div class="graph-title" id="projectionPyramidTitle">人口金字塔</div>
									<div class="option-container">
										<div class="option-bt"
											v-bind:class="{selected: optionType === 1}"
											v-on:click="ChangeOptionType(1);">
											中推估
										</div>
										<div class="option-bt"
											v-bind:class="{selected: optionType === 2}"
											v-on:click="ChangeOptionType(2);">
											低推估
										</div>
										<div class="option-bt"
											v-bind:class="{selected: optionType === 3}"
											v-on:click="ChangeOptionType(3);">
											高推估
										</div>
									</div>
									<svg id="projectionPyramidSvg"></svg>
									<div class="center" id="projectionPyramidInfo">單位:人</div>
								</div><!--
								--><div class="half-w">
									<div class="graph-title">人口比例</div>
									<div class="center enhance" id="projectionRatio">單位:人(%)</div>
									<svg id="projectionRatioSvg"></svg>
									<div class="center" id="projectionRatioInfo">單位:人</div>
								</div><!--
								--><div class="full-w">
									<div class="graph-title" id="projectionTimeLineTitle">時間變化</div>
									<div class="center">
										<select id="projectionTimeLineSelect" v-on:change="UpdateGraph();">
											<option value="popNum">人口數</option>
											<option value="life">平均壽命</option>
											<option value="popVariety">人口變化</option>
											<option value="fertility">總生育率</option>
										</select>
									</div>
									<svg id="projectionTimeLineSvg"></svg>
									<div class="center" id="projectionTimeLineInfo">單位:人</div>
								</div>
								<div class="note">
									<div class="title">備註</div>
									<ul>
										<li><span class="bold">低、中、高推估:</span> 依據不同的參數假設，人口推估就會出現不同結果。這邊低、中、高的推估參數主要為總生育率的不同。低推估假設總生育率會逐年降低到0.9，中推估假設總生育率會維持在1.2，高推估設假設總生育率會逐年增加到1.5。</li>
										<li><span class="bold">總生育率:</span> 這邊的總生育率與出生統計中的總生育率定義相同，只是出生統計以千分率(‰)表示，這邊直接將其化為小數。</li>
									</ul>
								</div>
							</div>
						</div>
						<div id="chapterAging" v-show="curPage === 3">
							<div class="title">老の章</div>
							<div class="graph-title">2013年老人狀況調查</div>
							<div class="switch-container">
								<div class="switch-bt"
									v-bind:class="{selected: graphType === 1}"
									v-on:click="ChangeGraphType(1);">
									居家健康
								</div>
								<div class="switch-bt"
									v-bind:class="{selected: graphType === 2}"
									v-on:click="ChangeGraphType(2);">
									生活狀況
								</div>
								<div class="switch-bt"
									v-bind:class="{selected: graphType === 3}"
									v-on:click="ChangeGraphType(3);">
									自理能力
								</div>
							</div>
							<div v-show="graphType === 1">
								<div class="half-w">
									<div class="graph-title">分佈比例</div>
									<div class="center">
										分類:
										<select id="agingStatusAttrSelect" v-model="optionType"
											v-on:change="UpdateGraph();">
											<option value="1">總計</option>
											<option value="2">性別</option>
											<option value="3">年齡別</option>
											<option value="4">身分別</option>
											<option value="5">教育程度</option>
											<option value="6">婚姻狀況</option>
											<option value="7">現有子女數</option>
											<option value="8" v-show="subGraphType !== 1 && subGraphType !== 2">居住方式</option>
											<option value="9">縣市</option>
										</select>
									</div>
									<svg id="agingStatusAttrSvg"></svg>
									<div class="center" id="agingStatusAttrInfo">單位:人</div>
								</div><!--
								--><div class="half-w">
									<div class="graph-title" id="agingStatusRatioTitle">年齡比例</div>
									<div class="option-container">
										<div class="option-bt"
											v-bind:class="{selected: subGraphType === 1}"
											v-on:click="ChangeSubGraphType(1);">
											居住
										</div>
										<div class="option-bt"
											v-bind:class="{selected: subGraphType === 2}"
											v-on:click="ChangeSubGraphType(2);">
											家庭
										</div>
										<div class="option-bt"
											v-bind:class="{selected: subGraphType === 3}"
											v-on:click="ChangeSubGraphType(3);">
											慢性病
										</div>
									</div>
									<svg id="agingStatusRatioSvg"></svg>
									<div class="center" id="agingStatusRatioInfo">單位:人</div>
								</div>
							</div>
							<div v-show="graphType === 2">
								<div class="half-w">
									<div class="graph-title">分佈比例</div>
									<div class="center">
										分類:
										<select id="agingLivingAttrSelect" v-model="optionType"
											v-on:change="UpdateGraph();">
											<option value="1">總計</option>
											<option value="2">性別</option>
											<option value="3">年齡別</option>
											<option value="4">身分別</option>
											<option value="5">教育程度</option>
											<option value="6">婚姻狀況</option>
											<option value="7">現有子女數</option>
											<option value="8">居住方式</option>
											<option value="9">縣市</option>
										</select>
									</div>
									<svg id="agingLivingAttrSvg"></svg>
									<div class="center" id="agingLivingAttrInfo">單位:人</div>
								</div><!--
								--><div class="half-w">
									<div class="graph-title" id="agingLivingRatioTitle">年齡比例</div>
									<div class="option-container">
										<div class="option-bt"
											v-bind:class="{selected: subGraphType === 1}"
											v-on:click="ChangeSubGraphType(1);">
											日常活動
										</div>
										<div class="option-bt"
											v-bind:class="{selected: subGraphType === 2}"
											v-on:click="ChangeSubGraphType(2);">
											心情
										</div>
										<div class="option-bt"
											v-bind:class="{selected: subGraphType === 3}"
											v-on:click="ChangeSubGraphType(3);">
											理想居住
										</div>
										<div class="option-bt"
											v-bind:class="{selected: subGraphType === 4}"
											v-on:click="ChangeSubGraphType(4);">
											生活期望
										</div>
									</div>
									<div class="center">
										<div v-show="subGraphType === 1">
											重要性:
											<select id="agingLivingImportance" v-on:change="UpdateGraph();">
												<option value="mainCount">主要</option>
												<option value="secondaryCount">次要</option>
											</select>
										</div>
										<div v-show="subGraphType === 2">
											頻率:
											<select id="agingLivingFrequence" v-on:change="UpdateGraph();">
												<option value="oftenCount">常常</option>
												<option value="sometimesCount">有時</option>
												<option value="neverCount">從未</option>
											</select>
										</div>
									</div>
									<svg id="agingLivingRatioSvg"></svg>
									<div class="center" id="agingLivingRatioInfo">單位:人</div>
								</div>
							</div>
							<div v-show="graphType === 3">
								<div class="half-w">
									<div class="graph-title">分佈比例</div>
									<div class="center">
										分類:
										<select id="agingAbilityAttrSelect" v-model="optionType"
											v-on:change="UpdateGraph();">
											<option value="1">總計</option>
											<option value="2">性別</option>
											<option value="3">年齡別</option>
											<option value="4">身分別</option>
											<option value="5">教育程度</option>
											<option value="6">婚姻狀況</option>
											<option value="7">現有子女數</option>
											<option value="8">居住方式</option>
											<option value="9">縣市</option>
										</select>
									</div>
									<svg id="agingAbilityAttrSvg"></svg>
									<div class="center" id="agingAbilityAttrInfo">單位:人</div>
								</div><!--
								--><div class="half-w">
									<div class="graph-title" id="agingAbilityRatioTitle">年齡比例</div>
									<div class="option-container">
										<div class="option-bt"
											v-bind:class="{selected: subGraphType === 1}"
											v-on:click="ChangeSubGraphType(1);">
											起居困難
										</div>
										<div class="option-bt"
											v-bind:class="{selected: subGraphType === 2}"
											v-on:click="ChangeSubGraphType(2);">
											功能性活動
										</div>
									</div>
									<div class="center" v-show="subGraphType === 2">
										能力:
										<select id="agingFunctionAbility" v-on:change="UpdateGraph();">
											<option value="canCount">需要，能獨立完成</option>
											<option value="diffcultCount">需要，獨立完成有些困難</option>
											<option value="canNotCount">需要，不能獨立完成</option>
											<option value="noNeedCount">不需要</option>
										</select>
									</div>
									<svg id="agingAbilityRatioSvg"></svg>
									<div class="center" id="agingAbilityRatioInfo">單位:人</div>
								</div>
							</div>
							<div class="note">
								<div class="title">備註</div>
								<ul>
									<li>2013年老人狀況調查為針對55歲以上老人的抽樣調查，這邊顯示的資料為65歲以上老人的統計資料。各項目顯示的人數是按照抽樣回答的比例乘上該項目總人數而得，並非實際數字。</li>
									<li>榮民、榮眷及原住民樣本較少，代表性恐不足，故僅供參考。</li>
								</ul>
							</div>
						</div>
						<div id="chapterDisease" v-show="curPage === 4">
							<div class="title">病の章</div>
							<div class="switch-container">
								<div class="switch-bt"
									v-bind:class="{selected: graphType === 1}"
									v-on:click="ChangeGraphType(1);">
									西醫門診
								</div>
								<div class="switch-bt"
									v-bind:class="{selected: graphType === 2}"
									v-on:click="ChangeGraphType(2);">
									中醫門診
								</div>
								<div class="switch-bt"
									v-bind:class="{selected: graphType === 3}"
									v-on:click="ChangeGraphType(3);">
									牙醫門診
								</div>
								<div class="switch-bt"
									v-bind:class="{selected: graphType === 4}"
									v-on:click="ChangeGraphType(4);">
									急診
								</div>
								<div class="switch-bt"
									v-bind:class="{selected: graphType === 5}"
									v-on:click="ChangeGraphType(5);">
									住院
								</div>
							</div>
							<div>
								<div class="option-container">
									<div class="option-bt"
										v-bind:class="{selected: optionType === 1}"
										v-on:click="ChangeOptionType(1);">
										件數
									</div>
									<div class="option-bt"
										v-bind:class="{selected: optionType === 2}"
										v-on:click="ChangeOptionType(2);">
										點數
									</div>
								</div>
								<div class="half-w">
									<div class="graph-title" id="diseaseRankTitle">傷病排序</div>
									<div class="center">
										性別:
										<select id="diseaseRankSexSelect" v-on:change="UpdateGraph();">
											<option value="全部">全部</option>
											<option value="男">男</option>
											<option value="女">女</option>
										</select>
										第
										<select id="diseaseRankPage" v-on:change="UpdateGraph();">
											<option value="0">1</option>
											<option value="1">2</option>
										</select>
										頁
									</div>
									<svg id="diseaseRankSvg"></svg>
									<div class="center" id="diseaseRankInfo">單位:件</div>
								</div><!--
								--><div class="half-w">
									<div class="graph-title" id="diseaseRatioTitle">子項比例</div>
									<svg id="diseaseRatioSvg"></svg>
									<div class="center" id="diseaseRatioInfo">單位:件</div>
								</div><!--
								--><div class="half-w">
									<div class="graph-title" id="diseaseAgeTitle">年齡分佈</div>
									<div class="center">
										<select id="selectSubDiseaase" v-on:change="g_ChapterDisease.MedicineStatisticAge();">
										</select>
									</div>
									<svg id="diseaseAgeSvg"></svg>
									<div class="center" id="diseaseAgeInfo">單位:件</div>
								</div>
							</div>
							<div class="note">
								<div class="title">備註</div>
								<ul>
									<li><span class="bold">點數:</span> 計算健保局要支付醫院多少費用的單位。在費用沒被刪減的情況下1點=1元，但通常部分項目會被砍，所以1點約為0.8~0.9元。</li>
								</ul>
							</div>
						</div>
						<div id="chapterDeath" v-show="curPage === 5">
							<div class="title">死の章</div>
							<div class="switch-container">
								<div class="switch-bt"
									v-bind:class="{selected: graphType === 1}"
									v-on:click="ChangeGraphType(1);">
									一般死因
								</div>
								<div class="switch-bt"
									v-bind:class="{selected: graphType === 2}"
									v-on:click="ChangeGraphType(2);">
									癌症死因
								</div>
							</div>
							<div class="option-container">
								<div class="option-bt"
									v-bind:class="{selected: subGraphType === 1}"
									v-on:click="ChangeSubGraphType(1);">
									死亡人數
								</div>
								<div class="option-bt"
									v-bind:class="{selected: subGraphType === 2}"
									v-on:click="ChangeSubGraphType(2);">
									死亡率
								</div>
							</div>
							<div>
								<div class="half-w">
									<div class="graph-title" id="deathRankTitle">死因排序</div>
									<div class="center">
										性別:
										<select id="deathRankSexSelect" v-on:change="UpdateGraph();">
											<option value="全部">全部</option>
											<option value="男">男</option>
											<option value="女">女</option>
										</select>
										第
										<select id="deathRankPage" v-on:change="UpdateGraph();">
											<option value="0">1</option>
											<option value="1">2</option>
											<option value="2">3</option>
										</select>
										頁
									</div>
									<svg id="deathRankSvg"></svg>
									<div class="center" id="deathRankInfo">單位:人</div>
								</div><!--
								--><div class="half-w">
									<div class="option-container">
										<div class="option-bt"
											v-bind:class="{selected: optionType === 1}"
											v-on:click="ChangeOptionType(1);">
											地圖
										</div>
										<div class="option-bt"
											v-bind:class="{selected: optionType === 2}"
											v-on:click="ChangeOptionType(2);">
											排序
										</div>
									</div>
									<div class="graph-title" id="deathMapTitle">死亡人數</div>
									<svg id="deathMapSvg"></svg>
									<div class="center" id="deathMapInfo">單位:人</div>
								</div><!--
								--><div class="half-w">
									<div class="graph-title" id="deathAgeTitle">年齡分佈</div>
									<svg id="deathAgeSvg"></svg>
									<div class="center" id="deathAgeInfo">單位:歲</div>
								</div>
							</div>
							<div class="note">
								<div class="title">備註</div>
								<ul>
									<li>2008年後死因分類由<a href="https://dep.mohw.gov.tw/DOS/lp-2491-113.html" target="_blank">ICD-9</a>改為<a href="https://dep.mohw.gov.tw/DOS/lp-2490-113.html" target="_blank">ICD-10</a>，所以名稱出現大幅變動。</li>
									<li>行政區名稱於1993年、2007年、2010年、2014年皆有調整，部分地區會出現名稱與人數的大幅變動。</li>
									<li>地圖中的死亡率 = 縣市死亡人數/縣市人口數</li>
									<li>死因排序中的死亡率 = 所選縣市死於該死因人數/縣市人口數</li>
									<li>年齡分佈中的死亡率 = 所選縣市年齡區間中死於該死因人數/縣市年齡區間人口數</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div id="pageAbout" v-show="curPage === 6">
					<div class="title">關於筆記本</div>
					<div class="chapter-desc">
						台灣の死亡筆記本是與<a href="https://www.facebook.com/groups/115650035793555/" target="_blank">HCOS</a>社群互動後發展出的專案，主要是想從統計數據研究少子高齡化的趨勢, 網站內容分成生、老、病、死四個章節，分別整理了台灣人口結構變動、高齡者狀況、醫療統計、死亡統計等資料並加以視覺化。當然只從統計數字無法看出真實人生，規則頁收集了相關議題的報導與討論，面對越來越老化的社會，如何活出自己想要的人生，是每個人都該思考的課題。<br>
					</div>
					<div class="note">
						<div class="title">專案資訊</div>
						<ul>
							<li><a href="https://github.com/aga3134/DeathNoteTW" target="_blank">網站開源程式碼</a></li>
							<li><a href="https://agawork.tw/" target="_blank">其他專案</a></li>
							<li>若您對本站有任何建議或合作需求，歡迎來信討論 aga3134@gmail.com</li>
						</ul>
					</div>
					<div class="note">
						<div class="title">資料來源</div>
						<div class="sub-title">生の章</div>
						<ul>
							<li><a href="http://www.ris.gov.tw/346;jsessionid=2F864914BBD4B9CE8208DE4AC97E61D7" target="_blank">人口資料庫 - 年度縣市及全國統計資料</a>
								<ul>
									<li>A - 01縣市人口按性別及五齡組(63)</li>
									<li>A - 03人口數按年齡及婚姻狀況(96)</li>
									<li>B - 01縣市出生按生母五齡組</li>
								</ul>
							</li>
							<li><a href="https://www.ndc.gov.tw/Content_List.aspx?n=84223C65B6F94D72" target="_blank">國家發展委員會 - 中華民國人口推估（105至150年）</a></li>
							<li><a href="https://dep.mohw.gov.tw/DOS/cp-1720-7278-113.html" target="_blank">衛福部性別統計指標 - 國人平均餘命</a></li>
							<li>
								<a href="https://www.stat.gov.tw/ct.asp?xItem=15409&CtNode=3622&mp=4" target="_blank">中華民國統計資訊網</a>
								<ul>
									<li>出生數、出生率、死亡數、死亡率</li>
									<li>育齡婦女生育率、一般生育率、總生育率、有偶婦女生育率</li>
								</ul>
							</li>
						</ul>
						<div class="sub-title">老の章</div>
						<ul>
							<li><a href="https://dep.mohw.gov.tw/DOS/cp-1767-3586-113.html" target="_blank">衛福部 - 102 老人狀況調查</a></li>
						</ul>
						<div class="sub-title">病の章</div>
						<ul>
							<li><a href="https://dep.mohw.gov.tw/DOS/cp-1718-2912-113.html" target="_blank">衛福部 - 衛生類性別統計指標一覽表</a>
								<ul>
									<li>5.1-20_西醫門診件數--按疾病別性別及年齡</li>
									<li>5.1-21+西醫門診醫療費用--按疾病別性別及年齡</li>
									<li>5.1-22+西醫門診件數--按疾病別健保分局及縣市</li>
									<li>5.1-23+西醫門診醫療費用--按疾病別健保分局及縣市</li>
									<li>5.1-24+健保門診件數與申報費用—牙醫</li>
									<li>5.1-25+健保門診件數與申報費用—中醫</li>
									<li>5.1-26+急診件數--按疾病別性別及年齡</li>
									<li>5.1-27+急診醫療費用--按疾病別性別及年齡</li>
									<li>5.1-28+住院件數—按疾病別性別及年齡</li>
									<li>5.1-29+住院醫療費用—按疾病別性別及年齡</li>
								</ul>
							</li>
						</ul>
						<div class="sub-title">死の章</div>
						<ul>
							<li><a href="https://data.gov.tw/dataset/5965" target="_blank">政府資料開放平臺 - 死因統計</a></li>
							<li><a href="https://data.gov.tw/dataset/8154" target="_blank">政府資料開放平臺 - 癌症死因統計</a></li>
						</ul>
					</div>
				</div>

			</div>
			<div class="cover-bottom">
			</div>
		</div>

		<script src="/static/util.js?v=<%=version%>"></script>
		<script src="/static/mapTW.js?v=<%=version%>"></script>
		<script src="/static/svgGraph.js?v=<%=version%>"></script>
		<script src="/static/svgAnim.js?v=<%=version%>"></script>
		<script src="/static/chapterBirth.js?v=<%=version%>"></script>
		<script src="/static/chapterAging.js?v=<%=version%>"></script>
		<script src="/static/chapterDisease.js?v=<%=version%>"></script>
		<script src="/static/chapterDeath.js?v=<%=version%>"></script>
		<script src="/static/main.js?v=<%=version%>"></script>
	</body>
</html>